{% extends "base.html" %}
{% block content %}{% load staticfiles %}
    <header id="header" class="section transparent white-header header active-section sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/" title="">
                            <img src="{% static 'demo/logo.png' %}" class="black-logo standard-logo middle-content"
                                 alt="">
                            <img src="{% static 'demo/logo.png' %}" class="white-logo standard-logo middle-content"
                                 alt="">
                            <img src="{% static 'demo/logo.png' %}" class="black-logo retina-logo middle-content"
                                 alt="">
                            <img src="{% static 'demo/logo.png' %}" class="white-logo retina-logo middle-content"
                                 alt="">
                        </a>
                    </div>
                </div><!-- /.col-->
                <div class="col-md-9 menu-col text-right">
                    <div class="menu">
                        <ul class="list-inline">
                            <li class=""><a href="/">Inicio</a>
                            </li>
                            <li class=""><a href="/#que_es">Que es?</a>
                            </li>
                            <li class=""><a href="/#pilares" class="">Pilares</a>
                            </li>
                            <li class=""><a href="/#funciones">Funciones</a>
                            </li>
                            <li class=""><a href="/pricing">Precios</a>
                            </li>
                            <li class=""><a href="/contact">Contactos</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-->
                <div class="header-line">
                    <div class="line"></div><!--/.line-->
                </div><!-- /.header-line -->
                <div class="menu-toggle">
                    <i class="ti-menu"></i>
                </div>
            </div>
        </div><!-- /.container -->
    </header><!-- /header -->
    <div class="section page-title background-wrapper big-padding with-overlay black-overlay active-section">
        <div class="background-image parallax-background" data-stellar-background-ratio="0.5"
             style="background: url(/staticfiles/demo/img6.jpg) 0% 0%;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style=""><h1>Precios Mensuales</h1>
                    <p class="">
                    </p>
                    <ol class="breadcrumb">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Precios</li>
                    </ol>
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!-- /.section --><!-- CONTENT 1 -->
    <!-- Description  -->
    <section class="section active-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="promo-block grey-background" data-animate="fadeInRight">
                        <div class="pb-header success-background"><strong>Premium</strong></div>
                        <div class="pb-content success-background clearfix">
                            <i class="icon-background large icon-lightbulb"></i>
                            <span class="price"><span>299mil </span> <span class="dollar"></span></span>
                            <span class="date">Mensual</span>
                            <ul>
                                <li>Todas las Funciones de Manejo, Sanitación, Nutrición y Genética</li>
                                <li>Software Administrativo Premium</li>
                                <li>Sin Límites de Carga de Animales</li>
                                <li>Habilitado para 10 Usuarios</li>
                            </ul>
                            <p><a href="contact.html" title="" class="btn btn-punch btn-white btn-sm btn-link">Solicitar
                                Plan</a></p>
                        </div>
                    </div>

                </div><!-- /.col -->

                <div class="col-md-4">
                    <div class="promo-block grey-background" data-animate="fadeInRight">
                        <div class="pb-header primary-background"><strong>Estándar</strong></div>
                        <div class="pb-content primary-background clearfix">
                            <i class="icon-background large icon-flag"></i>
                            <span class="price">249mil <span class="dollar"></span></span>
                            <span class="date">Mensual</span>
                            <ul>
                                <li>Funciones de Manejo, Sanitación, Nutrición y Genética</li>
                                <li>Software Administrativo Básico</li>
                                <li>Sin Límites de Carga de Animales</li>
                                <li>Habilitado para 6 Usuarios</li>
                            </ul>
                            <p><a href="contact.html" title="" class="btn btn-punch btn-white btn-sm btn-link">Solicitar
                                Plan</a></p>
                        </div>
                    </div>

                </div><!-- /.col -->
                <div class="col-md-4">
                    <div class="promo-block grey-background" data-animate="fadeInRight">
                        <div class="pb-header grey-background"><strong>Plataforma Educativa</strong></div>
                        <div class="pb-content grey-background clearfix">
                            <i class="icon-background large icon-strategy"></i>
                            <span class="price"><span class="text-primary">Gratis</span> <span
                                    class="dollar"></span></span>
                            <span class="date"><br></span>
                            <ul>
                                <li>Funciones Limitadas de Manejo, Sanitación, Nutrición y Genética</li>
                                <li>Software Administrativo Limitado</li>
                                <li>Hasta 100 Animales</li>
                                <li>Habilitado para 1 Usuarios</li>
                            </ul>
                            <p><a href="contact.html" title="" class="btn btn-punch btn-primary btn-sm btn-link">Proximamente</a>
                            </p>
                        </div>
                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.section --><!-- CONTENT 2 -->
    <!-- Centered large lead text -->
    <section class="section primary-background big-padding active-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="larger-lead text-center">
                        Gracias a su Modelo de Suscripción Mensual, podrás acceder al Software Administrativo y a la
                        Plataforma Educativa con una muy <strong>Baja Inversión Mensual</strong>, y así, ser parte de la
                        Comunidad de
                        Ganaderos Inteligentes del Paraguay.
                    </p>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.section --><!-- Footer 2 -->
{% endblock %}
