<div layout-padding>
    <h1 class="md-display-1 green-text">Establecimiento</h1>
</div>
<section>
    <div layout-padding>
        <h2 class="md-headline green-text">Configuraciones</h2>
    </div>
    <div layout="row">
        <md-card flex layout="column"  class="center action" ng-click="go('/potrero')">
            <div flex class="md-toolbar-tools green darken-1">
                <p class="white-text md-title center" >Potreros</p>
            </div>
        </md-card>
        <md-card flex layout="column"  class="center action" ng-click="go('/categoria')">
            <div flex class="md-toolbar-tools green darken-1">
                <p class="white-text md-title center" >Categorías personalizadas</p>
            </div>
        </md-card>
        <md-card flex layout="column"  class="center action" ng-click="go('/raza')">
            <div flex class="md-toolbar-tools green darken-1">
                <p class="white-text md-title center" >Razas personalizadas</p>
            </div>
        </md-card>
    </div>
</section>

