
    <div layout-padding>
        <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
                      md-row-height-gt-md="1:1" md-row-height="1:1"
                      md-row-height="fit" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile class="md-whiteframe-2dp green white-text" ng-repeat="e in establecimientos">
                <div layout="column" layout-align="start center">
                    <div class="md-headline">[[e.nombre]]</a></div>
                    <md-button layout-align="end center" ng-click="seleccionar(e)" class="white-text">Continuar</md-button>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <br>
    <div >
        <div class="md-headline grey-text">Portal de Noticias</div>
        <div layout="row" layout-xs="column">
                <md-card ng-repeat="e in noticias" flex-gt-sm="20" layout-gt-xs="25" flex>
                    <img class="md-card-image"  src="[[e.imagen]]" width="100%">
                    <md-card-title>
                        <md-card-title-text>
                            <small><span class="md-title">[[e.titulo]]</span></small>
                        </md-card-title-text>

                    </md-card-title>

                    <md-card-content ng-bind-html="e.texto | limitHtml:140">
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="verNoticia(e)">Ver más</md-button>
                    </md-card-actions>
                    </md-card>
        </div>
    </div>
