{% extends "base2.html" %}
{% block content %}

<div class="row intro">
    <div class="container" >
            <!--   Icon Section   -->
            <div class="row" style="padding-top:9%;padding-bottom:8%;">
                <div class="col s12 m10 l6 offset-l3 offset-m1">
                    <div class="card">
                        <div class="card-content">
                            <div class="icon-block">
                                <h2 class="center light-green-text"><i class="material-icons">person</i></h2>
                                <h5 class="center">Recupera tu contraseña</h5>
                                <br>
                                <p>Su contraseña ha sido cambiada correctamente</p>
                                <br>
                                <center><a class="btn waves-effect waves-light light-green" href="/login/">Entendido</a></center>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}