{% extends "base2.html" %}
{% block content %}
<div class="row intro">
    <div class="container" >
            <!--   Icon Section   -->
            <div class="row" style="padding-top:10%;padding-bottom:9%;">
                <div class="col s12 m10 l6 offset-l3 offset-m1">
                    <div class="card">
                        <div class="card-content">
                            <div class="icon-block">
                                <h2 class="center light-green-text"><i class="material-icons">person</i></h2>
                                <h5 class="center">Recuperación de contraseña</h5>
                                <br>
                                <p style="text-transform:uppercase">UN MAIL FUE ENVIADO A SU DIRECCIÓN DE CORRERO HACE 0 MINUTOS. Utilice el enlace en él para establecer una nueva contraseña.</p>
                                <br>
                                <center><a class="btn waves-effect waves-light light-green" href="/login/">Entendido</a></center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}